<h1>Prince Edward County Properties</h1>

<% @properties.each do |property| %>
  <h2><%= property.title %></h2>
  <img src="<%= property.photo_url %>" width="30%">
  <img src="<%= property.map_url %>" width="30%"><br>
  <%= number_to_currency(property.latest_list_price) %> <a href="http://maps.google.com/maps?q=description+(name)+%40<%= property.lat %>,<%= property.lon %>">map</a> - <a href="<%= property.listing_url %>">listing</a><br>
  First seen: <%= property.created_at.to_date %><br>
  Price drop: $<%= property.price_drop %><br>
<% end %>